.Header {
  padding: .5rem 0;
  width: 100%;
  @media screen and (max-width: 991px) {
    position: absolute;
    top: 0;
    z-index: 99;
  }
}
.Header__logo {
}
.Header__menu {
  background-color: $secondColor;
  border-radius: .5rem;
  box-shadow: 1px 2px 8px rgba(black, .5);
  display: flex;
  padding: 0 .5rem;
}
.Header__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  li {
    border-right: 1px solid rgba(white, .3);
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    font-family: $dinMedium;
    font-size: 1.125rem;
    justify-content: center;
    list-style: none;
    padding: .8rem .5rem;
    text-align: center;
    text-transform: uppercase;
    &:last-child {
      border-right: none;
    }
    a {
      color: white;
      &:focus, &:hover {
        color: $accentColor;
      }
    }
    &.active {
      font-family: $dinBold;
      a {
        color: $accentColor;
      }
    }
  }
}
.Header__toggle {
  background-color: $secondColor;
  box-shadow: 1px 1px 5px rgba(black, .5);
  cursor: pointer;
  display: inline-block;
  padding: .5rem .8rem .8rem;
}
.Header__toggle__icon {
  background-color: #fff;
  display: inline-block;
  height: 5px;
  position: relative;
  width: 30px;
  &:before, &:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    width: 30px;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
  }
}
