.Main {
  width: 100%;
  .container-fluid {
    > .row {
      height: 100%;
    }
  }
}
.Main__copy {
  bottom: 125px;
  left: -105px;
  position: fixed;
  transform: rotate(-90deg);
}
.Main__box {
  background-color: rgba(white, .3);
  border-radius: .8rem;
  padding: .5rem 2rem;
}
.Title {
  font-family: $dinBold;
  font-size: 2rem;
  @media screen and (max-width: 1400px) {
    font-size: 1.5rem;
  }
}
.Main__tabs {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgba(black, .2);
  min-height: 450px;
}
.Count__title {
  font-size: 3.25rem;
  letter-spacing: 20px;
}
.Count__number {
  font-size: 6.25rem;
  line-height: 1;
  span.flag {
    position: relative;
    z-index: 9;
    &:before, &:after {
      background-color: red;
      content: "";
      display: inline-block;
      height: 80px;
      position: absolute;
      transform: skew(-20deg);
      top: 10px;
      width: 25px;
    }
    &:before {
      left: 0;
    }
    &::after {
      left: 50px;
    }
  }
  span.number {
    position: relative;
    z-index: 99;
  }
}
.List {
  padding-left: 0;
  li {
    border-bottom: 1px solid rgba($textColor, .5);
    font-family: $dinMedium;
    font-size: 1.5rem;
    list-style: none;
    padding: .5rem 0;
    text-align: center;
    &:hover {
      color: $secondColor;
    }
  }
}
