.Main {
  width: 100%;
  .container-fluid {
    > .row {
      height: 100%;
    }
  }
  &--fluid {
    margin: 0 auto;
    width: 90%;
    @media screen and (max-width: 1400px) {
      width: 95%;
    }
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
}
.Main__portada {
  @media screen and (max-width: 991px) {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
  }
}
.Main__figure {
  width: 100%;
  img {
    animation-duration: 3s;
  }
  @media screen and (max-width: 991px) {
    img {
      @media screen and (max-width: 991px) and (orientation: landscape) {
        width: 40%;
      }
    }
  }
}
.Main__copy {
  bottom: 110px;
  left: -80px;
  position: fixed;
  transform: rotate(-90deg);
  @media screen and (max-width: 991px) {
    color: $accentColor;
    margin-top: 4rem;
    position: static;
    text-align: center;
    transform: rotate(0deg);
    width: 100%;
  }
}
.Main__count {
  width: 100%;
}
.Main__goto {
  bottom: 35px;
  font-family: $dinMedium;
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  i[class^="icon-"] {
    font-size: 3rem;
  }
  .Btn__link {
    &:focus {
      color: white;
    }
    &:hover {
      text-decoration: none;
    }
  }
  @media screen and (max-width: 767px) and (orientation: landscape) {
    bottom: 5px;
  }
}
.Main__box {
  background-color: rgba(white, .3);
  border-radius: .8rem;
  padding: .5rem 2rem;
}
.Title {
  font-family: $dinBold;
  font-size: 2rem;
  line-height: 1.07em;
  &--awards {
    margin-bottom: 5rem;
    @media screen and (max-width: 991px) {
      margin-top: 6rem;
    }
  }
  &--small {
    font-size: 1rem;
  }
}
.Subtitle {
  font-family: $dinBold;
  font-size: 2rem;
}
.Main__tabs {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgba(black, .2);
  min-height: 450px;
  @media screen and (max-width: 991px) {
    margin-top: 6rem;
  }
}
.Count__title {
  font-size: 3.25rem;
  letter-spacing: 20px;
  @media screen and (max-width: 767px) {
    font-size: 2.5rem;
    letter-spacing: 15px;
  }
}
.Count__number {
  font-size: 6.25rem;
  line-height: 1;
  @media screen and (max-width: 767px) {
    font-size: 5rem;
  }
  span.flag {
    background: transparent url('./../images/bandera.png') center 0 no-repeat;
  }
}
.List {
  max-height: 380px;
  overflow-y: auto;
  padding-left: 0;
  li {
    border-bottom: 1px solid rgba($textColor, .5);
    font-family: $dinMedium;
    font-size: 1.5rem;
    list-style: none;
    padding: .5rem 0;
    text-align: center;
    &:hover {
      color: $secondColor;
    }
  }
}
