.Main {
  width: 100%;
  .container-fluid {
    > .row {
      height: 100%;
    }
  }
}
.Main__copy {
  bottom: 125px;
  left: -105px;
  position: fixed;
  transform: rotate(-90deg);
}
.Main__box {
  background-color: rgba(white, .3);
  border-radius: .8rem;
  padding: .5rem 2rem;
}
.Title {
  font-family: $dinBold;
  font-size: 2rem;
  @media screen and (max-width: 1400px) {
    font-size: 1.5rem;
  }
}
.Main__tabs {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgba(black, .2);
  min-height: 450px;
}
