.Tabs__list {
  background-color: #f4f6f9;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  .nav-item {
    display: flex;
    font-family: $dinMedium;
    font-size: 1.25rem;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    @media screen and (max-width: 991px) {
      font-size: 1rem;
    }
    a {
      border-top: 10px solid transparent;
      color: #abaeba;
      display: block;
      padding: 1rem 0;
      width: 100%;
      &.active {
        background-color: #fff;
        border-top-color: $accentColor;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        color: $firstColor;
      }
    }
  }
}
.Tabs__content {
  padding: 1rem;
  ol {
    padding-left: 30px;
  }
  li {
    color: $thirdColor;
    font-family: $dinMedium;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  p, h3 {
    font-size: 1.125rem;
    padding-left: 1rem;
  }
}
