// Colors:
$firstColor: #002243; // azul
$secondColor: #d11a2c; // rojo
$thirdColor: #5b9cd6;
$accentColor: #ebba12; // amarillo
$darkColor: #131c31;
$borderColor: #ca2c42;
$textColor: #232323; //
$bodyBg: #ffffff; //
$dangerColor: #dc3545;

// Fonts:
$dinLight: "dinlight", sans-serif;
$dinBold: "dinbold", sans-serif;
$dinMedium: "dinmedium", sans-serif;
$openLight: 'Open Sans', sans-serif;
